<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品分类添加</title>
    <link type="text/css" rel="stylesheet" href="/css/admin.css"/>
</head>
<body>
    <div class="frm">
        <div class="title">
            分类插入
        </div>
        <form action="/admin/category/add_submit" method="post">
            <table>
                <tr>
                    <td>分类名称</td>
                    <td>
                        <input type ="text" name="categoryName" required = "required"/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="添加"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>