<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>后台登陆</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
    <div class="back">
        <a href="/">商城界面</a>
    </div>
    <div class="frm">
        <div class="title">
            后台登陆
        </div>

        <form action="/admin/login_submit" method="post">
            <table>
                <tr>
                    <td>用户名</td>
                    <td>
                        <input type ="text" name="userName" required = "required"/>
                    </td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td>
                        <input type="text" name="password" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="登录"/>
                        <div th:text="${err}" style="color:red;margin:10px"></div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>