<?xml version ="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.GoodsMapper">

    <resultMap id="goodsMap" type="Goods" autoMapping="true">
        <id column="goodsId" property="goodsId"/>
        <association property="category" javaType="Category" autoMapping="true">
            <id column="categoryId" property="categoryId"/>
        </association>
    </resultMap>

    <select id="findAll" resultMap="goodsMap">
        select g.goodsId,g.goodsName,g.price,g.address,
        g.produceDate,g.picture,c.categoryId,c.categoryName
        from goods g
        join category c
        on g.categoryId = c.categoryId
    </select>

    <select id="findRandLimit" parameterType="int" resultMap="goodsMap">
        select g.goodsId,g.goodsName,g.price,g.address,
               g.produceDate,g.picture,c.categoryId,c.categoryName
        from goods g
                 join category c
                      on g.categoryId = c.categoryId
        limit #{size}
    </select>

    <select id="findByCategory" parameterType="int" resultMap="goodsMap">
        select g.goodsId,g.goodsName,g.price,g.address,
               g.produceDate,g.picture,c.categoryId,c.categoryName
        from goods g
                 join category c
                      on g.categoryId = c.categoryId
        where c.categoryId = #{categoryId}
    </select>

    <select id="find" parameterType="int" resultMap="goodsMap">
        select g.goodsId,g.goodsName,g.price,g.address,
        g.produceDate,g.picture,c.categoryId,c.categoryName
        from goods g
        join category c
        on g.categoryId = c.categoryId
        where g.goodsId=#{goodsId}
    </select>

    <insert id="doadd" parameterType="Goods">
        insert into goods(goodsName,price,address,produceDate,picture,categoryId)
        values (#{goodsName},#{price},#{address},#{produceDate},#{picture},#{category.categoryId})
    </insert>

    <update id="doupdate" parameterType="Goods">
        update goods
        set goodsName = #{goodsName},
            price = #{price},
            address = #{address},
            produceDate = #{produceDate},
            picture = #{picture},
            categoryId =#{category.categoryId}
        where goodsId=#{goodsId}
    </update>
</mapper>